@font-face {
    font-family: 'TmonMonsori';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,td,textarea,th,ul{margin:0;padding:0}

nav{
    width: 100%;
    height: 104px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
}

html,body{
    height: 1080px;
    width: 1900px;
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #7B73FE;
}

a{
    text-decoration: none;
}

nav > a{
    font-size: 26px;
}

.navLeftBox{
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 180px;
}

.navLeftBox > a{
    color: #FFFFFF;
    font-family: 'Noto Sans KR', sans-serif;
}

.navRigthBox{
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 691px;
}

.navRigthBox > a{
    margin-left: 100px;
    color: #FFFFFF;
    font-family: 'Noto Sans KR', sans-serif;
}

#explanation {
    width: 100%;
    margin-top: 58px;
}

#explanation > p {
    width: 1165px;
    text-align: left;
    margin-left: 492px;
    font-size: 26px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #707070;
}

#images {
    margin-top: 54px;
}

#img1 {
    margin-left: 310px;
}

#img2 {
    margin-left: 555px;
}

#img3 {
    position: absolute;
    left: 790px;
    top: 476px;
}

#imglast{
    margin-top: 88.5px;
    margin-left: 310px;
}

#img5 {
    margin-left: 555px;
}