@font-face {
  font-family: 'TmonMonsori';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,td,textarea,th,ul{margin:0;padding:0}
nav{
  width: 100%;
  height: 104px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
}
html,body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
nav{
  display: flex;
  width: 100%;
  height: 80px;
  background-color: #7B73FE;
}
#logo {
  margin-top: 3px;
  width: 60px;
  height: 60px;
}
a{
  text-decoration: none;
}
nav > a{
  font-size: 26px;
}
.navLeftBox{
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 180px;
}
.navLeftBox > a{
  color: #FFFFFF;
  font-family: 'Noto Sans KR', sans-serif;
}
.navRigthBox{
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 691px;
}
.navRigthBox >a{
  margin-left: 100px;
  color: #FFFFFF;
  font-family: 'Noto Sans KR', sans-serif;
}
section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 157px;
}
.clubBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}
.clubBox > p{
  font-size: 54px;
  color: #6C63FF;
  font-family: 'TmonMonsori';
  margin-bottom: 27px;
}
.clubBox > img{
  width: 542px;
  height: 555px;
}