@font-face {
  font-family: 'TmonMonsori';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,td,textarea,th,ul{margin:0;padding:0}
nav{
  width: 100%;
  height: 104px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
}
html,body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#logo {
  margin-top: 3px;
  width: 60px;
  height: 60px;
}
nav{
  display: flex;
  width: 100%;
  height: 80px;
  background-color: #7B73FE;
}
a{
  text-decoration: none;
}
nav > a{
  font-size: 26px;
}
.navLeftBox{
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 180px;
}
.navLeftBox > a{
  color: #FFFFFF;
  font-family: 'Noto Sans KR', sans-serif;
}
.navRigthBox{
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 691px;
}
.navRigthBox >a{
  margin-left: 100px;
  color: #FFFFFF;
  font-family: 'Noto Sans KR', sans-serif;
}
header{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 29px;
}
header > h1{
  font-family: 'Noto Sans KR', sans-serif;
  color: #707070;
}
header > p{
  font-family: 'Noto Sans KR J', sans-serif;
  color: #707070;
  margin-top: 9px;
}
article{
  display: flex;
  flex-direction: column;
}
.On-Zone{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 47px;
}
.sorftware_Box{
  width: 1226px;
  height: 264px;
  display: flex;
  align-items: center;
}
.gradeBox{
  width: 73px;
  height: 100%;
  background-color: #7B73FE;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-family: 'Noto Sans KR J', sans-serif;
  font-size: 25px;
}
.writerBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1153px;
  height: 100%;
  background-color: #F1F1FF;
  font-family: 'Noto Sans KR J', sans-serif;
  font-size: 24px;
  color: #707070;
}
.writerBox > p{
  padding-left: 52px;
  padding-top: 10px;
}
.Under-Zone{
  height: 100%;
  display: flex;
  flex-direction: row;
}
.gradeBoxUnder{
  width: 73px;
  height: 230px;
  background-color: #7B73FE;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-family: 'Noto Sans KR J', sans-serif;
  font-size: 25px;
}
.writerBoxUnder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:100%;
  height: 230px;
  background-color: #F1F1FF;
  font-family: 'Noto Sans KR J', sans-serif;
  font-size: 24px;
  color: #707070;
}
.writerBoxUnder > p{
  padding-left: 52px;
  padding-top: 10px;
}
#swBox{
  margin-top: 50px;
  margin-right: 100px;
}