html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  nav{
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #7B73FE;
  }

  a{
    text-decoration: none;
  }

  nav > a{
    font-size: 26px;
  }

  #logo {
    margin-top: 3px;
    width: 60px;
    height: 60px;
  }

  .navLeftBox{
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 180px;
  }

  .navLeftBox > a{
    color: #FFFFFF;
    font-family: 'Noto Sans KR', sans-serif;
  }

  .navRigthBox{
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 691px;
  }

  .navRigthBox > a{
    margin-left: 100px;
    color: #FFFFFF;
    font-family: 'Noto Sans KR', sans-serif;
  }

  .page_name{
    font-family: 'Noto Sans KR', bold;
    font-size: 36px;
    margin-left: 180px;
    padding: 20px 0px 0 0;
  }

  .dormitory{
  margin-left: 200px;
  }

  .back_img{
    width: 550px;
    height: 450px;
    position: absolute;
    bottom: 0;
    margin-left: 50%;
  }
  
  #back_img{
    width: 200px;
    height: 100px;
    float: right;
 
  }